* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.posts-main-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.posts_container {
  display: grid;
  width: 100%;
  margin: 8% 12%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.post {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  overflow: hidden;
}
.post > .img_container {
  height: 180px;
  background-position: right 10% bottom -20px;
  background-size: cover;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.img_hover_container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.img_hover_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  font-family: "Lato";
}
.post_desc_container {
  font-family: "Lato";
  width: 100%;
  padding: 5% 6%;
}
.post_desc_container > .colors {
  display: flex;
  align-items: center;
}
.post_desc_container > .colors > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 10;
}
.post_desc_container > .colors > span:first-child {
  background-color: skyblue;
}
.post_desc_container > .colors > span:last-child {
  background-color: rgb(255, 234, 0);
  margin-left: 0.5rem;
}
.post_heading {
  padding-top: 1rem;
}
.post_heading > h1 {
  font-size: 1.3rem;
  font-weight: 800;
}
.post_para {
  padding-top: 2rem;
  color: rgba(157, 175, 193, 0.9);
  font-weight: 400;
}
.post_author {
  display: flex;
  color: rgb(157, 175, 193);
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 2rem;
}
.pop_container {
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 0px;
  left: 0px;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_popup{
  width: 40vw;
  max-width: 550px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}
.pop_up_close_container{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  height: 50px;
}
.pop_up_close_container>img{
  cursor: pointer;
}
.pop_up_img_container{
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: cover;
}
.pop_up_desc_container{
  padding: 1rem;
  font-family: 'Lato';
}
.pop_up_desc_container>h1{
  font-size: 1.3rem;
  font-weight: 800;
}
.pop_up_desc_container>p{
  padding: 1rem 0;
}
.autor_details{
  display: flex;
  align-items: center;
}
.author_profile{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.author_profile>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.author_name{
  padding-left: 1rem;
  font-weight: 600;
  font-size: .9rem;
}
.author_name>span:nth-child(2){
  padding: 0px .5rem;
}